{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h2 class="page-header">Settings for {{ user.username }}</h2>
<div style="width: 50%; display: inline-block; padding-right: 10px;" class="pull-left">
<h2 class="page-header">Change password</h2>
	{{ wtf.quick_form(password_form) }}
</div>
<div style="width: 50%; display: inline-block;">
<h2 class="page-header">
	<img class="img-rounded"
		src="{{ user.avatar_url if user.avatar_url else '/static/img/default_avatar.jpg' }} "
		style="max-width: 100px;" />
	Change avatar</h2>
	{{ wtf.quick_form(avatar_form) }}
</div>
{% endblock %}