<h2 class="page-header">Cast {{castNumber}} DJ Portal<br /> 
<small ng-model="saveStatus">{{saveStatus}}</small></h2>

<ul class="list-group row" ui-sortable="sortableOptions" ng-model="picks">
	<li class="col-md-3 col-lg-3 list-picks" ng-repeat="pick in picks" ng-init="hide=true">
	<h4><span style="color: #797878; font-size: 20px;">{{$index+1}}. </span>{{pick.username}}'{{pick.username.slice(-1) == 's' | iif : '' : 's'}} pick
	<input type="checkbox" ng-model="pick.played" ng-click="togglePlayed($event, pick.id)" /><small style="font-size: 12px;">Played </small></h4>
	<div class="panel panel-default">
		<div ng-click="hide=!hide" class="panel-heading" style="height: 75px; max-height: 100px;">
			<h3 class="panel-title">{{pick.song}} <small>by</small> {{pick.artist}} <small>on</small> {{pick.album}}</h3>
		</div>
		<div ng-class="{'hidden': hide == true}" class="panel-body">
	    	{{pick.description}}
		</div>
	</div>

	</li>
</ul>
