<h2 class="page-header">
	Cast 
	<a href="../../cast/{{ castData.cast.cast_number }}">
		{{ castData.cast.cast_number }}
	</a> 
	DJ Portal 

	<small class='statusMessage' 
		   ng-class="{'text-danger': statusMessage.slice(0,4) == 'Must'}">
		{{ statusMessage }}
	</small>
</h2>

<toggleall>{{ hideAll | 
				iif : 'Show all' : 'Hide all'}}</toggleall>

<ul class="list-group row" 
	ng-model="castData.picks" 
	ui-sortable="sortableOptions">
	<li class="col-md-3 col-lg-3 list-picks" 
		ng-class="{ 'bg-danger' : pick.played }" 
		ng-repeat="pick in castData.picks">

		<pick></pick>
	</li>
</ul>