.sortable-placeholder {
	border: 1px dotted black;
}
.panel-title {
	font-size: 14px;
}
.panel-title small {
	font-size: 12px;
}
li {
	list-style-type: none;
}

.strikethrough {
	text-decoration: line-through;
}