li {
	list-style-type: none;
}
.panel-title {
	font-size: 11px;
}
.panel-title small {
	font-size: 9px;
}
.panel-heading {
	height: 75px; 
	max-height: 100px;
}
.pick-number {
	color: #797878; 
	font-size: 18px;
}
.pick-image {
	height: 50px; 
	max-width: 50px; 
	margin-right: 3px; 
	border: 2px 
	solid #eee;
}
.description {
	position: absolute;
	z-index: 9999;
	background-color: #000;
	color: #fff;
	letter-spacing: 0.1em;
	opacity: .93;
}
.bg-danger {
	text-decoration: line-through;
}