{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="//code.angularjs.org/1.2.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

<script type="text/javascript" src="/static/js/sortable.js"></script>
<script type="text/javascript" src="/static/js/dj.js"></script>
<link rel="stylesheet" href="/static/css/dj.css" type="text/css" media="all" />
{% endblock %}

{% block page_content %}
<h2 class="page-header">DJ</h2>

<div ng-app="djApp">
<div ui-view></div>
</div>
{% endblock %}