{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div>
	<h1 class="page-header"><a href="/api/">api/</a> endpoints</h1>
	<h3>Users</h3>
		<a href="/api/users/">api/users/</a><br />
		<span style="margin-left: 20px; font-size: 12px;">Display all user information</span><br />
		<a href="/api/users/brett">api/users/brett</a><br />
	<br  />
	<h3>Picks</h3>
		<a href="/api/picks/">api/picks/</a><br />
		<a href="/api/picks/420">api/picks/420 (pick id)</a><br />
	<br />
	<h3>Casts</h3>
	<a href="/api/casts/">api/casts/</a><br />
	<a href="/api/casts/75">api/casts/75 (cast number)</a><br />
	<br />
	<h3>Links in IRC</h3>
	<a href="/api/links/">api/links/</a>
</div>
{% endblock %}