{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="//code.angularjs.org/1.2.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

<script type="text/javascript" src="/static/js/admin.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div ng-app="adminApp">
	<div class="pull-left" style="display: inline; margin-right: 20px; margin-top: 50px;">
		<ul style="list-style-type: none; border-right: 1px solid black; padding: 5px; font-size: 25px; height: 300px;">
			<li><a ui-sref="index">Index</a></li>
			<li><a ui-sref="users">Users</a></li>
		</ul>
	</div>
	<div ui-view style="display: inline-block;"></div>
</div>
{% endblock %}