{% if cast %}
<div class="jumbotron">
	<h1>Welcome to Bongcast {{ cast.cast_number }}</h1>
			<h2><p style="margin-left: 60px; font-size: 12pt;">hosted by <a href="#">{{ cast.host.username }}</a> <strong>on</strong> {{ cast.date }} <strong>at</strong> {{ cast.time }} <strong>with</strong> {{ cast.picks.count() }} picks</p></h2>
	<div class="media">
		<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail pull-left">
			<img src="http://bongcast.com/static/img/unknown-album.png" />
		</a>
		</div>
		<p>{{ cast.description }}</p>
		<p><a href="{{ url_for('cast.pick') }}" class="btn btn-primary btn-lg" role="button">Pick</a></p>
	</div>
</div>
{% include "cast/_picks.html" %}
{% endif %}