
{% macro build_pick(pick, moment, current_user) %}
<li class="list-group-item">

	<div class="media">
		<a class="thumbnail pull-left" href="#">
			<img src="{{ pick.picture_url if pick.picture_url else 'http://bongcast.com/static/img/unknown-album.png' }}" class="media-object" style="max-width: 200px;"/>
		</a>

		<div class="media-body" style="overflow: visible; display: inline;">
			<h3 class="media-heading">{{ pick.song }} <small>by</small> {{ pick.artist }} <small>on</small> {{ pick.album }}
    		</h3>
    		<span style="display: inline-block;">
    		<small> Picked by </small><a href="{{ url_for('cast.user', username=pick.author.username) }}">{{ pick.author.username }}</a> <small>on {{ moment(pick.date_added).format('MMMM Do, h:mm:ss a') }}.</small>
    		<span>&nbsp;</span>
    		</span>
    		{% if pick.links %}
    		<div class="dropdown" style="display: inline-block;">
	    		<button type="button" class="btn btn-default" data-toggle="dropdown">
					<span class="glyphicon glyphicon-arrow-down"></span> Download Links
				</button>

				<ul class="dropdown-menu" role="menu">
				{% for link in pick.links.split(',') %}
					<li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if current_user.id == pick.author.id or current_user.is_admin %}
				<a class="btn btn-default" href="{{ url_for('cast.edit_pick', id=pick.id) }}">edit</a>
				<a class="btn btn-default" href="{{ url_for('cast.delete_pick', id=pick.id) }}">delete</a>
    		{% endif %}
    		<dd style="padding-top: 15px;">{{ pick.description | nl2br | safe }}</dd>
  		</div>
	</div>

	</li>
{% endmacro %}

{% macro build_cast_header(cast, current_user, list=False) %}
{% if cast and not list %}
<div class="jumbotron">
	<h2><strong>Cast <a href="{{ url_for('cast.view_cast', cast_number=cast.cast_number) }}">{{ cast.cast_number }}</a></strong>
	<small><a href="/dj/#/{{cast.cast_number}}">DJ Portal</a></small></h2>
			<h2><p style="margin-left: 60px; font-size: 12pt;">hosted by <a href="{{ url_for('cast.user', username=cast.host.username) }}">{{ cast.host.username }}</a> <strong>on</strong> {{ cast.date }} <strong>at</strong> {{ cast.time }} <strong>with</strong> {{ cast.picks.count() }} picks</p></h2>
	<div class="media">
		<a href="#" class="thumbnail pull-left">
			<img src="{{ cast.picture_url if cast.picture_url else '/static/img/unknown-album.png' }}" 
				style="max-width: 200px;" />
		</a>
		<p>{{ cast.description }}</p>
		<p>
		{% if cast.id == g.next_cast.id %}
		<a href="{{ url_for('cast.pick') }}" class="btn btn-primary btn-lg" role="button">Pick</a> 
		{% endif %}
		{% if current_user.is_admin or current_user.id == cast.host.id %}
			<a href="{{ url_for('cast.edit_cast', id=cast.id) }}" class="btn btn-primary btn-lg" role="button">Edit</a>
		{% endif %}
		{% if current_user.is_admin %}
			<a href="{{ url_for('cast.delete_cast', id=cast.id) }}" class="btn btn-primary btn-lg" role="button">Delete</a>
		{% endif %}
		</p>
	</div>
</div>
{% endif %}
{% if cast and list %}
  <a href="{{ url_for('cast.view_cast', cast_number=cast.cast_number) }}" class="list-group-item">
    <h4 class="list-group-item-heading">Cast {{ cast.cast_number }} <small>hosted by</small> {{ cast.host.username }} <small>on</small> {{ cast.date }}</h4>
    <p class="list-group-item-text">{{ cast.description }}</p>
  </a>
{%endif %}
{% endmacro %}