{% extends "base.html" %}

{% block page_content %}
<div class=" row page-header">
	<img class="img-rounded pull-left" style="margin-right: 10px; max-height: 200px;" src="{{ user.avatar_url if user.avatar_url else '/static/img/default_avatar.jpg' }}" />
	<h1>
	{{ user.username }}
	</h1>
</div>

{% from "cast/_macros.html" import build_pick %}
<ul class="list-group">
	<h3>Picks ({{ user.picks.count() }} total)</h3>
	{% for pick in user.picks|sort(attribute='id', reverse=True) %}
		<h3 class="page-header"><small>On cast {{ pick.cast.cast_number }}</small></h3>
		{{ build_pick(pick, moment, current_user) }}
	{% endfor %}
</ul>
{% endblock %}