{% extends "bootstrap/base.html" %}

{% block title %}Cast{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse" role="navigation">

<div class="container-fluid" style="width: 70%">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('cast.index') }}">#420@P2PNET</a>
    </div>

    <ul class="nav navbar-nav">
		<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cast <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{ url_for('cast.pick') }}">Pick!</a></li>
	            <li><a href="#">View Next Cast</a></li>
	            <li><a href="#">Previous Casts</a></li>
	            <li class="divider"></li>
	            <li><a href="{{ url_for('cast.create_cast') }}">Create Cast</a></li>
	          </ul>
	    </li>
	</ul>
	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	{% if current_user.is_authenticated() %}
    <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Profile</a></li>
	            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
	          </ul>
	    </li>
	</ul>
	{% else %}
	<form method="post" class="navbar-form navbar-right" action="#">
		<div class="form-group">
			<a href="{{ url_for('auth.login') }}" class="btn btn-default" role="button">Log in</a>
			<a href="{{ url_for('auth.register') }}" class="btn btn-default" role="button">Register</a></li>
		</div>
	</form>
	{% endif %}
</div>

</nav>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert"></button>
	{{ message }}
</div>
{% endfor %}

<div class="container">
	{% block page_content %}{% endblock %}
</div>
<footer style="text-align: center;">
	<p>_\|/_</p>
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}